RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule %{REQUEST_URI} !admin
    #RewriteCond %{REQUEST_URI} !test
    RewriteRule admin lib/login_check.php [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ lib/bootstrap_public.php [L,QSA]