RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule %{REQUEST_URI} !admin
    #RewriteCond %{REQUEST_URI} !test
    RewriteRule admin lib/bootstrap.php [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php [L,QSA]